body{
    width:100%;
    text-align:center;
    margin: 0 auto;
    background-color: rgb(91, 149, 183)
}

h1{
    color: white;
}

#refresh{
    position : absolute;
    right : 0;
    top : 0;
    font-size: 50%;
}

#mainwrapper{
    width:95%;
    margin: 0 auto;
    margin-top:1vh;
    height: 80vh;
    overflow-y: scroll;
}

.container{
    width : 100%;
    display: table;
    table-layout: fixed;
    background-color: #ffffff;
    height: 80vh;
}

.container h3{
    pointer-events:none;
}


.container:nth-child(2){
    border-left: none;
    border-right: none;
}

.container__column{
    text-align: center;
    border: 2px solid #474747;
    width: 33.3%;
    display: table-cell;
    text-align: center;
    flex-direction: column;
    min-height: 70vh;
    word-wrap:break-word;
}

.container__column h3{
    padding-bottom: 1vh;
    border-bottom: 1px solid #474747;
}

.task{
    text-align: center;
    width: 80%;
    height:auto;
    margin: 0 auto;
    border: 1px solid #474747;
    margin-bottom: 1em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    word-wrap:break-word;
}


.task p{
    max-width:100%;
    pointer-events: none;
    height: auto;
}

.task button{
    display: none;
}

.task-selected{
    border: 2px solid green;
    justify-content: space-around;
}

.task-selected button{
    display : block;
    margin-left : 25%;
    width : 50%;
    height: auto;
    margin-bottom:1vh;
}

@media only screen and (max-width:600px){

    #mainwrapper{
        width: 100%;
        height: 100vh;
    }

    .container{
        display : flex;
        width:100%;
        flex-direction: column;
        height: auto;
    }

    .task-selected button{
        height: 5vh;
    }
    
    #taskform{
        position : sticky;
        top: 1vh;
    }

    .container__column{
        display: block;
        text-align: center;
        border: 2px solid #474747;
        width: 100%;
        min-height: 10vh;
        height: auto;
        overflow-y:hidden;
    }

}