body{
    width:95%;
    text-align:center;
    margin: 0 auto;
}

.container{
    width:85%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container h3{
    pointer-events:none;
}

.container__column{
    text-align: center;
    border: 2px solid black;
    width: 100%;
    display:flex;
    flex-direction: column;
  
}

.task{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 1em;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.task p{
    pointer-events:none;
}

.task button{
    display: none;
    float:right;
}

.task-selected{
    background-color: red;
}

.task-selected button{
    display: inline;
}

@media only screen and (max-width:600px){
    .container{
        width:90%;
        flex-direction: column;
    }
    

}