body{
    width:95%;
    text-align:center;
    margin: 0 auto;
}

.container{
    width:85%;
    margin: 0 auto;
    margin-top:1vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container h3{
    pointer-events:none;
}

.container__columnwrapper{
    text-align: center;
    border: 2px solid black;
    width: 33.3%;
}

.container__column{
    text-align: center;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    height: 70vh;
    overflow-y:scroll;
}

.task{
    text-align: center;
    width: 80%;
    height:auto;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 1em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    word-wrap:break-word;
}


.task p{
    max-width:100%;
    pointer-events: none;
    height: auto;
}

.task button{
    display: none;
}

.task-selected{
    border: 2px solid green;
    justify-content: space-around;
}

.task-selected button{
    display : block;
    margin-left : 25%;
    width : 50%;
    height: auto;
    margin-bottom:1vh;
}

@media only screen and (max-width:600px){
    .container{
        width:90%;
        flex-direction: column;
    }

    .container__columnwrapper{
        text-align: center;
        border: 2px solid black;
        width: 100%;
    }
    
    .task-selected button{
        height: 5vh;
    }
    

    #taskform{
        position : sticky;
        top: 1vh;
    }
}